# General
.DS_Store
Thumbs.db
*.pem

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python (Common backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# サンプルファイル除外
backend-services/cloud-run/sample_agent
task.md


*/*/implementation_plan.md
*/*/walkthrough.md

*/*/deploy_log*.txt

*/*/test*.txt