# General
.DS_Store
*.log

# Backend
backend/__pycache__/
backend/*.pyc
**/.env
**/serviceAccountKey.json
backend/venv/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/out/
frontend/build/

# google-cloud-sdk
google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
